*,* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
}

body {
    font-family: 'Lexend', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 9.50vw;
}

/* Header start */

.header {
    background: linear-gradient(255deg, rgba(129, 194, 212, 0.56) 5.93%, rgba(138, 199, 217, 0.56) 23.18%, rgba(155, 207, 224, 0.72) 43.47%, rgba(135, 198, 215, 0.49) 58.21%, rgba(102, 178, 201, 0.57) 73.36%, rgba(98, 177, 198, 0.51) 92.76%);
}

.header__wrapper{
    padding-top: 40px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__list__wrapper {
    display: flex;
}

.header__list {
    text-decoration: none;
    list-style: none;
    margin: 20px 2vw 0 0;
}

.header__link {
    font-family: Roboto;
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 500;
    color: #040522;
    opacity: 0.5;
}

.header__link:hover,
.header__link:active {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.header__input__block {
    display: flex;

    border-radius: 69px;
    background: #FFF;

    width: 280px;
    height: 50px;
}

.header__input {
    outline: 0;
    appearance: none;
    border: none;

    font-family: Lexend;
    font-size: 1.1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    margin-left: 10px;

    width: 150px;
}

#loopa {
    margin-top: 20px;
    margin-left: 10px;
}

.header__input__line {
    width: 1px;
    height: 36px;
    flex-shrink: 0;

    border-radius: 18px;
    opacity: 0.1;
    background: #E56117;

    margin: 15px 30px 20px 0;
}

.header__cart {
    width: 40px;
}

.header__subtitle {
    color: #171FE5;
    font-size: 2vw;
    font-weight: 600;

    margin-top: 150px;
}

.header__title {
    color: #040522;
    font-family: Lexend;
    font-size: 4vw;
    font-weight: 600;
    line-height: 120%;
    margin: 10px 0 20px 0;
}

.header__text {
    width: 55%;
    margin-bottom: 40px;

    color: #040522;
    font-size: 1vw;
    font-weight: 400;
    line-height: 160%;
}

.header__button__link {
    text-decoration: none;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.2vw;
    font-weight: 500;

    padding-right: 25px;
    white-space: nowrap;
}

.header__button {
    padding: 16px 25px 17px 30px;
    width: 25%;


    flex-shrink: 0;

    border-radius: 39px;
    background: #FF843F;

    margin-bottom: 134px;
}

.button__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__second__block {
    display: flex;
    position: relative;
}

.header__women {
    position: absolute;
    top: 5vw;
    left: 40.10vw;
}

.header__sale {
    position: absolute;
    top: 7.50vw;
    left: 68.5vw;
}

.header__customers {
    position: absolute;
    top: 30vw;
    left: 42vw;
}

/* Header end */

/* Slider start */

.slider {
    margin-top: 70px;
}

.slider__wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.slidenumber__group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Slider end */

/* Arrial start */

.arrial {
    margin-top: 130px;
}

.arrial__textblock {
    margin-bottom: 70px;
}

.arrial__textblock {
    display: flex;
    justify-content: space-between;
}

.arrial__title {
    color: #040522;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%;
}

.arial__link {
    text-decoration: none;
}

.arrial__text {
    color: #E56117;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}

.arrial__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(2, 300px); 
    grid-template-areas: 
    "l l l l i1 i1 i1 i1 i2 i2 i2 i2"
    "l l l l i3 i3 i3 i3 i4 i4 i4 i4";
    grid-gap: 30px;
}

.galery1 {
    background-image: url(../img/galery1.png);
    grid-area: l;
    display: flex;
    background-size: cover;
    background-position: center;
}

.galery2 {
    background-image: url(../img/galery2.png);
    grid-area: i1;
    display: flex;
    background-size: cover;
    background-position: center;
}

.galery3 {
    background-image: url(../img/galery3.png);
    grid-area: i2;
    display: flex;
    background-size: cover;
    background-position: center;
}

.galery4 {
    background-image: url(../img/galery4.png);
    grid-area: i3;
    display: flex;
    background-size: cover;
    background-position: center;
}

.galery5 {
    background-image: url(../img/galery5.png);
    grid-area: i4;
    display: flex;
    background-size: cover;
    background-position: center;
}

/* Ariial end */

/* Speciality end */

.speciality {
    margin-top: 120px;
}

.speciality__title {
    color: #040522;
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;

    margin-bottom: 1vw;
}

.speciality__text {
    color: var(--BLACK, #040522);
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;

    margin-bottom: 70px;
}

.speciality__block__wrapper {
    display: flex;
}

.speciality__block {
    align-items: center;
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.05);

    margin-right: 1vw;
}

.speciality__block:last-child {
    margin-right: 0;
}

.rectangle {
    width: 50px;
    height: 50px;

    border-radius: 10px;
    opacity: 0.1;
    background: var(--primare, #171FE5);
}

.speciality__block__title {
    color: #040522;
    font-size: 1.2vw;
    font-weight: 600;
    line-height: 140%;

    margin: 40px 0 10px 0;
}

.speciality__block__text {
    color: var(--BLACK, #040522);
    text-align: center;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 160%;
    
    width: 80%;
}

.block__img {
    margin-top: 30px;
}

/* Specialyti start */

/* Brand start */

.brand {
    margin-top: 120px;
    background: #F8FCFD;
}

.brand__wrapper {
    display: flex;
    justify-content: space-between;
}

/* Brand end */

/* Blog start */

.blog {
    margin-top: 120px;
}

.blog__text {
    color: #040522;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;

    width: 32%;
}

.blog__text__block {
    border-radius: 0px 0px 10px 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(4, 5, 34, 0.05);

    width: 23vw;
    padding: 0 25px 0 25px;
}

.blog__img {
    width: 23vw;
}

.blog__title__block {
    display: flex;
    justify-content: space-between;

    margin-bottom: 70px;
}

.blog__block__title {
    color: #040522;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 140%;

    padding: 25px 0 10px 0;
}

.blog__block__text {
    color: var(--BLACK, #040522);
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.7;
}

.blog__block__link {
    text-decoration: none;
}

.blog__block__link__text {
    color: #E56117;
    font-size: 0.9vw;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    
    padding-bottom: 25px;
}

.date {
    color: #040522;
    font-family: Lexend;
    font-size: 1vw;
    font-weight: 500;
    line-height: 160%;
}

.blog__block__link__text:hover,
.blog__block__link__text:active {
    color: #994311;
    transition: 0.5s ease-in-out;
}

.blog__inder__block {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;
}

.blog__block__wrapper {
    display: flex;
    justify-content: space-between;
}

/* Blog end */

/* Footer start */

.footer {
    margin-top: 120px;
    background: #040522;
    font-family: 'Poppins', sans-serif;
    padding: 70px 0 70px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__text {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    opacity: 0.7;
    width: 65%;
    margin: 25px 0 25px 0;
}

.soclink__link {
    text-decoration: none;
}

.soclink {
    margin-right: 15px;
    width: 10%;
}

.footer__links  {
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.3vw;
    font-weight: 600;

    margin-bottom: 25px;
    white-space: nowrap;
}

.footer__link {
    text-decoration: none;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: 17px; 
    opacity: 0.7;
    font-size: 1vw;
}

.footer__link:hover,
.footer__link:active {
    color: #979797;
    transition: 0.5s ease-in-out;
}

.footer__list {
    list-style-type: none;
    margin-bottom: 15px;
}

.footer__list:last-child {
    margin-bottom: 0;
}

.footer__list1 {
    color: #FFF;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    opacity: 0.7;

    margin-bottom: 15px;
}

.footer__list1:last-child {
    margin-bottom: 0;
}

.footer__text__wrapper {
    display: flex;
}

.footer__block {
    margin-right: 5vw;
}

.footer__block:last-child {
    margin-right: 0;
}

/* Footer end */

/* Media start */

@media(max-width: 1600px) {
    .speciality__block__title {
        font-size: 2vw;
    }

    .speciality__text {
        font-size: 1.5vw;
    }

    .speciality__block__text {
        font-size: 1vw;
        margin-bottom: 2vw;
    }
}

@media(max-width: 1500px) {
    .header__women {
        left: 34.1vw;
    }

    .header__button  {
        margin-bottom: 12vw;
    }
}

@media(max-width: 1400px) {

    .blog__text {
        font-size: 1.3vw;
    }

    .blog__block__wrapper {
        flex-wrap: wrap;
    }

    .footer__title {
        font-size: 2vw;
    }

    .footer__link {
        font-size: 1.5vw;
    }

    .footer__list1 {
        font-size: 1.5vw;
    }

    .footer__text {
        font-size: 1.5vw;
    }
}

@media(max-width: 1300px) {
    .header__women {
        left: 33.1vw;
    }

    .brand__wrapper {
        flex-wrap: wrap;
    }
}

@media(max-width: 1280px) {
    .header__women {
        display: none;
    }

    .header__sale {
        display: none;
    }

    .header__customers {
        display: none;
    }

    .header__info__block {
        margin: auto;
    }
    
    .header__text {
        width: 100%;
    }
    
    .header__title {
        text-align: center;
    }

    .header__subtitle {
        text-align: center;

        margin-top: 5vw;
    }

    .header__button {
        margin: 0 auto 5vw auto;
    }

    .header__women {
        left: 32.1vw;
    }

    .header__button  {
        margin-bottom: 14vw;
    }
}

@media(max-width: 1200px) {
    .header__text {
        font-size: 1.7vw;
        text-align: center;
    }

    .header__button__link {
        font-size: 1.5vw;
    }

    .header__link {
        font-size: 1.5vw;
    }

    .header__input {
        font-size: 1.5vw;
    }

    .slider {
        display: none;
    }
}

@media(max-width: 1150px) {
    .speciality__block__text {
        font-size: 1.6vw;
    }
}

@media(max-width: 1000px) {
    .blog__text {
        font-size: 2vw;
    }

    .blog__block__title {
        font-size: 2vw;
    }

    .blog__block__text,
    .blog__block__link__text,
    .date {
        font-size: 1.5vw;
    }
    .arrial__text {
        font-size: 2vw;
    }
    
    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .footer__text__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 5vw;
    }
}

@media(max-width: 983px) {
    .blog__block {
        margin-right: 0;
    }
}

@media(max-width: 940px) {
    .footer__block:last-child {
        margin-top: 0;
    }

    .footer__list1,
    .footer__link,
    .footer__text {
        font-size: 2vw;
    }

    .footer__title {
        font-size: 2.5vw;
    }
}

@media(max-width: 900px) {
    .header__menu {
        display: block;
    }

    .header__input__block {
        margin-top: 1vw;
    }

    .header__link {
        font-size: 3vw;
    }

    .header__input {
        font-size: 2vw;
    }
}

@media(max-width: 750px) {
    .blog__block__title {
        font-size: 2.5vw;
    }

    .blog__block__text,
    .blog__block__link__text,
    .date {
        font-size: 2vw;
    }

    .footer__block:last-child {
        margin-top: 0;
    }

    .footer__list1,
    .footer__link,
    .footer__text {
        font-size: 3vw;
    }

    .footer__title {
        font-size: 3.5vw;
    }

    .footer__text__wrapper {
        flex-wrap: wrap;
    }

    .footer__block {
        margin: 0 4vw 4vw 0;
    }

    .footer__block:last-child {
        margin-top: 5vw;
        margin: auto;
    }
}

@media(max-width: 700px) {
    .blog__block__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog__text__block,
    .blog__img {
        width: 50vw;
    }

    .blog__block {
        margin-bottom: 5vw;
    }
}

@media(max-width: 650px) {
    .header__text {
        font-size: 2vw;
    }

    .header__subtitle {
        font-size: 3vw;
    }

    .header__title {
        font-size: 5vw;
    }

    .arrial__text {
        font-size: 3vw;
    }

    .arrial__title {
        font-size: 4vw;
    }

    .header__list__wrapper {
        display: block;
    }
}

@media(max-width: 600px) {
    .speciality__block__title {
        font-size: 2.7vw;
    }

    .speciality__block__text {
        font-size: 2vw;
    }
}

@media(max-width: 550px) {

    .header__input__block {
        margin-top: 5vw;
    }
}

@media(max-width: 500px) {
    .header__button__link {
        padding: 5px;
        padding-right: 13px;
        font-size: 3vw;
    }

    .button__wrapper svg {
        display: none;
    }

    .header__button {
        padding: 16px 107px 17px 132px;
    }

    .blog__block__title {
        font-size: 3vw;
    }

    .blog__block__text,
    .blog__block__link__text,
    .date {
        font-size: 2.5vw;
    }
}

@media(max-width: 430px) {
    .header__text {
        width: 70%;
    }
    .header__text {
        font-size: 3vw;
    }
    
    .header__subtitle {
        font-size: 4vw;
    }
    
    .header__title  {
        font-size: 6vw;
        width: 50%;
    }
    
    .header__link {
        font-size: 5vw;
    }
    
    .header__input {
        font-size: 5vw;
    }

}

@media(max-width: 410px) {
    .blog__img {
        width: 150px;
    }

    .blog__text__block {
        width: 150px;
    }
}


@media(max-width: 400px) {
    .arrial {
        display: none;
    }
    .header__text {
        width: 70%;
        text-align: center;
    }
    
    .header__title {
        text-align: left;
        width: 80%;
    }
    
    .header__subtitle {
        text-align: left;
        width: 80%;
    }
    
    .header__button {
        padding: 16px 70px 17px 83px;
    }

    .blog__block__title {
        font-size: 2vw;
    }

    .blog__block__text,
    .blog__block__link__text,
    .date {
        font-size: 1.5vw;
    }
}

/* Media end */